/* CSS specifically for the BleepDJ Dijit */

.bleepdj_container {
    display: inline-block;
    background-color: #C1C1C1;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    border: 2px solid #909090;
    -webkit-box-shadow: 2px 2px 1px #707070;
    -moz-box-shadow: 2px 2px 1px #707070;
    box-shadow: 2px 2px 1px #707070;
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, rgb(153,153,153)),
        color-stop(0.1, rgb(193,193,193)),
        color-stop(0.9, rgb(193,193,193)),
        color-stop(1, rgb(153,153,153))
    );
    background-image: -moz-linear-gradient(
        center top,
        rgb(153,153,153) 0%,
        rgb(193,193,193) 10%,
        rgb(193,193,193) 90%,
        rgb(153,153,153) 100%
    );
    position: relative;
    padding-bottom: 10px;
}

.bleepdj_led_panel {
    width: 375px;
    height: 360px;
    padding: 0px 10px;
}

.bleepdj_control_panel {
    margin-left: 15px;
}

.bleepdj_led_col {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}

.bleepdj_led {
    width: 24px;
    height: 24px;
    border: 3px outset #BB0000;
    margin: 13px 7px;
    background-color: #780000;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition-property: background-color, -webkit-box-shadow, border-color;
    -webkit-transition-duration: 350ms;
}

.bleepdj_led.on {
    background-color: #FF5100;
    border: 3px outset #FF0000;
    -webkit-box-shadow: 0px 0px 10px #FF9900;
    -webkit-transition-duration: 100ms;
}

.bleepdj_control_play.dijitButton .dijitButtonNode {
    width: 40px;
    height: 40px;
}

.bleepdj_control_play.dijitButton .dijitButtonNode button {
    width: 100%;
    height: 100%;
}

.bleepdj_control_tempo {
    width: 200px;
    display: inline-block;
}