<div class="bleepdj_container">
    <div class="bleepdj_led_panel">
        <ul class="bleepdj_led_col bleepdj_led_col_0">
            <li class="bleepdj_led bleepdj_led_c3"></li>
            <li class="bleepdj_led bleepdj_led_b2"></li>
            <li class="bleepdj_led bleepdj_led_a2"></li>
            <li class="bleepdj_led bleepdj_led_g2"></li>
            <li class="bleepdj_led bleepdj_led_f2"></li>
            <li class="bleepdj_led bleepdj_led_e2"></li>
            <li class="bleepdj_led bleepdj_led_d2"></li>
            <li class="bleepdj_led bleepdj_led_c2"></li>
        </ul>
        <ul class="bleepdj_led_col bleepdj_led_col_1">
            <li class="bleepdj_led bleepdj_led_c3"></li>
            <li class="bleepdj_led bleepdj_led_b2"></li>
            <li class="bleepdj_led bleepdj_led_a2"></li>
            <li class="bleepdj_led bleepdj_led_g2"></li>
            <li class="bleepdj_led bleepdj_led_f2"></li>
            <li class="bleepdj_led bleepdj_led_e2"></li>
            <li class="bleepdj_led bleepdj_led_d2"></li>
            <li class="bleepdj_led bleepdj_led_c2"></li>
        </ul>
        <ul class="bleepdj_led_col bleepdj_led_col_2">
            <li class="bleepdj_led bleepdj_led_c3"></li>
            <li class="bleepdj_led bleepdj_led_b2"></li>
            <li class="bleepdj_led bleepdj_led_a2"></li>
            <li class="bleepdj_led bleepdj_led_g2"></li>
            <li class="bleepdj_led bleepdj_led_f2"></li>
            <li class="bleepdj_led bleepdj_led_e2"></li>
            <li class="bleepdj_led bleepdj_led_d2"></li>
            <li class="bleepdj_led bleepdj_led_c2"></li>
        </ul>
        <ul class="bleepdj_led_col bleepdj_led_col_3">
            <li class="bleepdj_led bleepdj_led_c3"></li>
            <li class="bleepdj_led bleepdj_led_b2"></li>
            <li class="bleepdj_led bleepdj_led_a2"></li>
            <li class="bleepdj_led bleepdj_led_g2"></li>
            <li class="bleepdj_led bleepdj_led_f2"></li>
            <li class="bleepdj_led bleepdj_led_e2"></li>
            <li class="bleepdj_led bleepdj_led_d2"></li>
            <li class="bleepdj_led bleepdj_led_c2"></li>
        </ul>
        <ul class="bleepdj_led_col bleepdj_led_col_4">
            <li class="bleepdj_led bleepdj_led_c3"></li>
            <li class="bleepdj_led bleepdj_led_b2"></li>
            <li class="bleepdj_led bleepdj_led_a2"></li>
            <li class="bleepdj_led bleepdj_led_g2"></li>
            <li class="bleepdj_led bleepdj_led_f2"></li>
            <li class="bleepdj_led bleepdj_led_e2"></li>
            <li class="bleepdj_led bleepdj_led_d2"></li>
            <li class="bleepdj_led bleepdj_led_c2"></li>
        </ul>
        <ul class="bleepdj_led_col bleepdj_led_col_5">
            <li class="bleepdj_led bleepdj_led_c3"></li>
            <li class="bleepdj_led bleepdj_led_b2"></li>
            <li class="bleepdj_led bleepdj_led_a2"></li>
            <li class="bleepdj_led bleepdj_led_g2"></li>
            <li class="bleepdj_led bleepdj_led_f2"></li>
            <li class="bleepdj_led bleepdj_led_e2"></li>
            <li class="bleepdj_led bleepdj_led_d2"></li>
            <li class="bleepdj_led bleepdj_led_c2"></li>
        </ul>
        <ul class="bleepdj_led_col bleepdj_led_col_6">
            <li class="bleepdj_led bleepdj_led_c3"></li>
            <li class="bleepdj_led bleepdj_led_b2"></li>
            <li class="bleepdj_led bleepdj_led_a2"></li>
            <li class="bleepdj_led bleepdj_led_g2"></li>
            <li class="bleepdj_led bleepdj_led_f2"></li>
            <li class="bleepdj_led bleepdj_led_e2"></li>
            <li class="bleepdj_led bleepdj_led_d2"></li>
            <li class="bleepdj_led bleepdj_led_c2"></li>
        </ul>
        <ul class="bleepdj_led_col bleepdj_led_col_7">
            <li class="bleepdj_led bleepdj_led_c3"></li>
            <li class="bleepdj_led bleepdj_led_b2"></li>
            <li class="bleepdj_led bleepdj_led_a2"></li>
            <li class="bleepdj_led bleepdj_led_g2"></li>
            <li class="bleepdj_led bleepdj_led_f2"></li>
            <li class="bleepdj_led bleepdj_led_e2"></li>
            <li class="bleepdj_led bleepdj_led_d2"></li>
            <li class="bleepdj_led bleepdj_led_c2"></li>
        </ul>
    </div>
    <div class="bleepdj_control_panel">
        <button class="bleepdj_control_play" dojoType="dijit.form.Button" dojoAttachPoint="playing" dojoAttachEvent="onclick: _playClick"></button>
        <div class="bleepdj_control_tempo" dojoType="dijit.form.HorizontalSlider" dojoAttachPoint="tempo" value="120" minimum="30" maximum="240" showButtons="false">
            <div dojoType="dijit.form.HorizontalRule" container="bottomDecoration" count="7" style="height: 5px;"></div>
            <ol dojoType="dijit.form.HorizontalRuleLabels" container="bottomDecoration" style="height: 1.5em; font-size: 75%;">
                <li>30</li>
                <li>60</li>
                <li>90</li>
                <li>120</li>
                <li>150</li>
                <li>180</li>
                <li>240</li>
            </ol>
        </div>
    </div>
</div>